.header{
  background: white;
  box-shadow: 0 1px 3px 0 #000;
  padding-bottom: 9px;
  margin-bottom: 25px;
} 

.header-left, .header-right{
  float: left;
  width: 50%;
  padding-top: 10px;
  
}

.header-right {
  text-align: right;
  padding-top: 30px;
}

.user-photo{
  border: 1px solid #bebebe;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;

}

.user_avatar{
  display: block;

}

.user-name {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  max-width: 235px;
}

.contacts{
  /*-- толщина  --- */
  font-weight: 600;
    /*-- высота  --- */
  color: #33c1e3;
      /*-- подчеркивание  --- */
  text-decoration: none;
  /*-- отспуп  --- */
  padding-bottom: 5px; 
    /*-- пунктир  --- */
  border-bottom: 1px dashed;

}


